nmcli
netsh
iw
arp-scan
nmap
ping
traceroute
dig
host
iwconfig
airmon-ng
airodump-ng
aircrack-ng
reaver
mdk3
wash
hcxdumptool
hcxpcapngtool
macchanger
tcpdump
wireshark
tshark
ettercap
dmitry
whatweb
masscan
whois
netcat
curl
python2